@model esercizio.Views.Payments.Index1Model
@{
    ViewData["Title"] = "Nuovo Pagamento";
}

<div>
    <div class="card FormContainer">
        <div class="card-body">
            <h5 class="card-title">Nuovo pagamento</h5>
            <form>
                <div class="mb-3">
                    <label for="interval" class="form-label">Periodo del pagamento:</label>
                    <input type="date" class="form-control" id="interval" required />
                    <input type="date" class="form-control" id="interval" required />
                </div>
                <div class="mb-3">
                    <label for="payment" class="form-label">Importo:</label>
                    <input type="number" step="0.01" class="form-control" id="payment">
                </div>
                <div class="mb-3 form-check">
                    <label for="type" class="form-label">Tipo di pagamento:</label>
                    <select class="form-select" id="type">
                        <option selected>Scegli un'opzione'</option>
                        <option value="1">Stipendio</option>
                        <option value="2">Acconto</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
