@{
    ViewData["Title"] = "Home Page";

}
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="New">New Employee</a>

</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Codice Fiscale</th>
            <th scope="col">Sposato?</th>
            <th scope="col">Figli</th>
            <th scope="col">Mansione</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">1</th>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
    </tbody>
</table>

