@{
    ViewData["Title"] = "Nuovo Impiegato";
}
<div>
    <div class="card FormContainer">
        <div class="card-body">
            <h5 class="card-title">Nuovo Impiegato</h5>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="name" required />
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Cognome:</label>
                    <input type="text" class="form-control" id="surname" required />
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Indirizzo:</label>
                    <input type="text" class="form-control" id="address" required />
                </div>
                <div class="mb-3">
                    <label for="cf" class="form-label">Codice Fiscale:</label>
                    <input type="text" class="form-control" id="cf" required />
                </div>
                <div class="mb-3">
                    <label for="married" class="form-label">Sposato?</label>
                    <select class="form-select" id="married">
                        <option value="true">Yes</option>
                        <option value="false" selected>No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="children" class="form-label">Figli:</label>
                    <input type="number" class="form-control" id="children" required />
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Mansione:</label>
                    <input type="text" class="form-control" id="role" required />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
